.button {
  font-family: system-ui;
  border-radius: 6px;
  border-style: none;
  box-shadow: rgba(37, 41, 46, 0.32) 0px 2px 10px 0px;
  font-size: 20px;
  color: white;
  background-color: #454851;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

.smallButton {
  composes: button;
  font-size: 14px;
  padding: 14px;
}
