.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.option {
  margin: 10px;
}

.label {
  padding-right: 2px;
}
